[Unit]
Description=Mdns
After=network.target

[Service]
Environment="HTTP_PORT=8081"
Environment="DNS_TCP_PORT=1053"
Environment="DNS_UDP_PORT=1053"
Environment="NAME_SERVERS=1.1.1.1,1.0.0.1,8.8.8.8,8.8.4.4"
Type=simple
PIDFile=/run/mdns.pid
WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/mdns
ExecStop=/bin/kill -INT $MAINPID
User=root
Group=root
StandardOutput=append:/var/log/mdns.log
StandardError=append:/var/log/mdns.log

[Install]
WantedBy=multi-user.target
