package config

import (
	"github.com/MarlikAlmighty/mdns/internal/gen/models"
	"github.com/kelseyhightower/envconfig"
)

func New() (*models.Configuration, error) {

	var m models.Configuration

	if err := envconfig.Process("", &m); err != nil {
		return &models.Configuration{}, err
	}

	return &m, nil
}
