package app

// Core application
type Core struct {
	Config   Config   `config:"-"`
	Store    Store    `store:"-"`
	Resolver Resolver `resolver:"-"`
}

// New application core initialization
func New(c Config, s Store) *Core {
	return &Core{
		Config: c,
		Store:  s,
	}
}
