name: CI

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:

  test-lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Test
      run: go test ./...

